@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&family=Roboto+Slab:wght@300&family=Zen+Antique&display=swap');
:root{
  --bg-navy:#0b192e;
  --text-color: #64ffda;
  font-family: 'Noto Serif', serif;
  font-family: 'Roboto Slab', serif;
  font-family: 'Zen Antique', serif;
}

.card-image {
  position: relative;
}

.image-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background: rgba(0, 0, 0, 0.5);
  }

.card:hover .image-overlay {
    opacity: 1;
  }
 